.vscode
node_modules
vite-project
dist
build
.DS_Store
.env
.env.local
.env.*.local
.idea
*.log
*.lock
*.bak
*.tmp
*.swp
*.swo
*.zip
*.tar.gz
*.7z
*.exe
*.dll
*.so
*.dylib
*.log
*.cache
*.tsbuildinfo
*.eslintcache
*.prettiercache
*.npmrc